\documentclass[12pt]{article}
\usepackage{graphicx}
\usepackage{amsmath}
\usepackage{booktabs}
\begin{document}
\input{sections/abstract}
\input{sections/introduction}
\input{sections/assumptions}
\input{sections/model}
\input{sections/results}
\input{sections/sensitivity}
\input{sections/conclusion}
\bibliographystyle{plain}
\bibliography{references}
\end{document}
